Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
.DS_Store
.vscode/
coverage/
.idea/
*.log
*.swp
*.swo
# Don't ignore production env file
!.env.production
